@model LazyAccount.Models.BillModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/Site.cshtml";
}

<style type="text/css">

    input[type="text"]
    {
        text-align:right;
    }
    ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
    li { margin: 5px; padding: 5px; width: 250px; cursor: move; }
    body 
    {
        -moz-user-select: -moz-none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
        user-select: none; 
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $('#amount_label').text(0);
        $('#bill_table tr td input[type=text]').each(function () {
            var _default = $(this).val();
            var _amount = 0;
            $(this).keyup(function () {
                _amount += parseInt($(this).val());
                $('#amount_label').text(_amount);
            });
            $(this).focus(function () {
                if (_default == $(this).val()) {
                    $(this).val('');
                }
                else if ($(this).val() == '') {
                    $(this).val(_default);
                }
            });
            $(this).blur(function () {
                if (_default == $(this).val()) {
                    $(this).val('');
                }
                else if ($(this).val() == '') {
                    $(this).val(_default);
                }
            });
        });
        $("#sortable").sortable({
            revert: true
        });
        $("#test_div").sortable({
            revert: true
        });
        $("#bill_table tbody tr").sortable({
            revert: true
        });
});

    function ClearAll() {
        $('#bill_table tr td input[type=text]').each(function () {
            $(this).val(0);
            $('#amount_label').text(0);
        });
    }


</script>
<h2>開始記帳</h2>


<form method="post" action="Add">

<div style="margin:0 auto; padding:0 auto; width:600px; display:inline-block;">
    <div style="float:left;width:100px; text-align:center; height:305px; line-height:305px;">
        <a href="#"><<</a>
    </div>
    <div style="float:left; width:400px;">
        <p style="float:left;text-align:left;">
            <input type="button" value="回前頁" />
        </p>
        <p style="text-align:right;">
            <input type="submit" value="記帳" />
        </p>
        <table id="bill_table" class="table_list">
            <thead>
                <tr>
                    <th colspan="2">@Html.DisplayFor(n=>Model.BillDate)</th>
                </tr>
            </thead>
            @for(int i=0; i<Model.BillDetailList.Count; i++)
            {
                @Html.HiddenFor(n => Model.BillDetailList[i].ItemId)
                @Html.HiddenFor(n => Model.BillDetailList[i].ItemName)
                @Html.HiddenFor(n => Model.BillDetailList[i].ItemGroup)
                @Html.HiddenFor(n => Model.BillDetailList[i].ItemBudget)
                <tr>            
                    <th>@Html.DisplayFor(n => Model.BillDetailList[i].ItemName) (NT$ @Html.DisplayFor(n => Model.BillDetailList[i].ItemBudget))</th>
                    <td>@Html.TextBoxFor(n => Model.BillDetailList[i].BillMoney) (NT)</td>
                </tr>
            }
            <tfoot>
                <tr>
                    <th>小計</th>
                    <td><label id="amount_label"></label> (NT)</td>
                </tr>
            </tfoot>
        </table>

        <p style="text-align:right;"><input type="button" value="重寫" onclick="ClearAll();") /></p>
    </div>
    <div style="float:left; width:100px; vertical-align:middle; height:305px; line-height:305px;">
        <a href="#">>></a>
    </div>
</div>




<div id="test_div" style="width:300px; user-select: none; ">
    @foreach (var item in Model.BillDetailList)
    {
        <div style="background:#DCDCDC; border-radius: 5px; margin:2px;">@item.ItemName (NT$ @item.ItemBudget) <input type="text" value="@item.BillMoney" /></div>
    }
</div>

<div style="width:300px;">
    2012-12-19
</div>
<div style="width:300px;">
    <ul id="sortable">
    
        @foreach (var item in Model.BillDetailList)
        {
            <li class="ui-state-default">@item.ItemName (NT$ @item.ItemBudget) <input type="text" value="@item.BillMoney" /></li>        
        }
    </ul>
</div>
<div style="width:300px;">
小計
</div>
</form>
